{{!-- card-author --}}

<div class="CardAuthor">
  <img src="{{asset "images/photoauthor.png"}}" alt="" class="CardAuthor-photo">
  <h4 class="CardAuthor-name">Daniel Guerrero</h4>
  <p class="CardAuthor-subtitle">Developer</p>
  <p class="CardAuthor-description">Ingeniero en Sistemas, Desarrollador Web Fullstack, me encantan los servidores y desarrollar código para muchas cosas, con ganas de aprender pero mucho mas de enseñar, me encanta la seguridad informática...
  </p>
  <a href="" class="CardAuthor-more">Mas sobre mí</a>
  <div class="CardAuthor-social">
    {{> social-links}}
  </div>
</div>
